#footer
  background: #455a64
  padding: 50px 0
  border-top: 1px solid color-border
  color: #ffffff
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: none

#footer-info
  line-height: line-height
  font-size: 0.85em font-sans