#footer
  background: rgb(51, 51, 51)
  padding: 50px 0
  border-top: 1px solid color-border
  color: #ffffff
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: none

#footer-info
  line-height: line-height
  font-size: 0.85em font-sans

.elevator
  margin-bottom: 40px
  color: color-grey
  font-weight: bold
  text-transform: uppercase
  &:hover
    cursor: pointer

  svg
    width: 40px
    height: 40px
    display: block
    margin: auto
    margin-bottom: 5px
