#header
  height: banner-height
  position: relative
  border-bottom: 1px solid color-border

  &:before, &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    height: 40px


#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative
  overflow: hidden

.bio-photo
  margin-top: -80px
  margin-bottom: 10px
  border-radius: 100%
  width: 180px
  height: 180px

.bio-photo-about
  margin-top: -80px
  margin-bottom: 10px
  border-radius: 100%
  width: 180px
  height: 180px

#banner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-image: url('/images/posts/background.jpg')
  background-size: cover
  z-index: -1

#header-title
  text-align: center
  height: logo-size
  position: absolute
  top: 45%
  left: 0
  margin-top: logo-size * -0.5

$logo-text
  text-decoration: none
  color: #fff
  font-weight: 300
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

#logo
  @extend $logo-text
  font-size: logo-size
  line-height: logo-size
  letter-spacing: 2px

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  letter-spacing: 1px

#subtitle-wrap
  margin-top: subtitle-size

#main-nav
  float: left
  margin-left: -15px

$nav-link
  float: left
  color: #fff
  opacity: 0.9
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  padding: 20px 15px
  &:hover
    opacity: 1

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: fonts
  width: font-size
  height: font-size
  margin-right: 10px
  padding: 20px 15px
  position: relative
  cursor: pointer

.article-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: fonts
  width: 8px
  height: 8px
  margin-right: 8px
  padding: 0px 11px
  position: relative
  cursor: pointer

.main-nav-link

  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  @media mq-mobile
    display: none

#main-nav-toggle
  display: none
  &:before
    content: "\f0c9"
  @media mq-mobile
    display: block

#sub-nav
  float: right
  margin-right: -15px

#nav-rss-link
  transition-property: color
  transition-duration: 0.8s
  color: #fff
  &:before
    content: "\f09e"
  &:hover
    transition-property: color
    transition-duration: 0.8s
    color: #f57c00

#nav-email-link
  transition-property: color
  transition-duration: 0.8s
  color: #fff
  &:before
    content: "\f0e0"
  &:hover
    transition-property: color
    transition-duration: 0.8s
    color: #C1C1C1

#nav-search-btn
  transition-property: color
  transition-duration: 0.8s
  color: #fff
  &:before
    content: "\f002"
  &:hover
    transition-property: color
    transition-duration: 0.8s
    color: #fff

#nav-twitter-link
  transition-property: color
  transition-duration: 0.8s
  color: #fff
  &:before
    content: "\f099"
  &:hover
    transition-property: color
    transition-duration: 0.8s
    color:  #00bcd4

#nav-github-link
  transition-property: color
  transition-duration: 0.8s
  color: #fff
  &:before
    content: "\f113"
  &:hover
    transition-property: color
    transition-duration: 0.8s
    color: #263238
#search-form-wrap
  position: absolute
  top: 15px
  width: 190px
  height: 30px
  right: -190px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    opacity: 1
    right: 0
  @media mq-mobile
    width: 100%
    right: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 5px 25px 5px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  width: 100%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777
