@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: rgb(51, 51, 51)
    border-right: 1px solid #fff

@media mq-mobile
  .mobile-nav-link
    display: block
    color: #fff
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    transition-property: color
    transition-duration: 0.9s
    &:hover
      color: black
      transition-property: color
      transition-duration: 0.9s
